* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
:root {
  --Dark_Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very_Dark_Gray: hsl(0, 0%, 27%);
}
body {
    width: 100%;
  font-size: 12px;
}

header {
  position: absolute;
  display: flex;
  gap: 100px;
  align-items: center;
  padding: 50px 0 0 40px;
  z-index: 2;
}
.ham {
    display: none;
}
.close{
    display: none;
}
nav{
    display: flex;
    align-items: center;
}
header ul {
  display: flex;
  gap: 40px;
}
header ul li {
  list-style: none;
  font-size: 17px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.top {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.content1,
.content2,
.content3 {
  transform: translateX(100%);
  width: 100%;
  height: 550px;
  position: absolute;
 
  transition: 3s;
}
.dis {
  display: block;
  transform: translateX(0);
  transition: 2s;
  z-index: 1;
}
.top .image {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.direction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 150px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0px;
}

.left-direct,
.right-direct {
  background-color: var(--Black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.left-direct:hover,
.right-direct:hover {
  background-color: var(--Very_Dark_Gray);
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: auto;

  width: 70%;
  height: 550px;
}
.content h1 {
  font-size: 3.3em;
  margin-bottom: 20px;
}
.qoute {
  color: var(--Dark_Gray);
  line-height: 25px;
}
button {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 2em;
  background-color: transparent;
  border: none;
  color: var(--Black);
  letter-spacing: 20px;
  margin-top: 1em;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  color: var(--Dark_Gray);
}
.bottom {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
}
.bottom img {
  width: 100%;
  height: 300px;
}
.about {
  margin: auto;
  width: 90%;
}
.about h2 {
  font-size: 2.3em;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about p {
  line-height: 25px;
  color: var(--Dark_Gray);
}
@media (max-width: 720px) {
   
  header {
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
  .ham{
    display: block;
    position: absolute;
    left: 40px;
    top: 50px;
    cursor: pointer;
    
    z-index: 3;
  }
  header img {
    scale: 1.2;
  }
  .close{
    display: block;
    cursor: pointer;
  }
  header nav {
    
    position: absolute;
    background-color: var(--White);
    height: 12vh;
    width: 100vw;
    left: 0;
    top: -12vh;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 15;
   
  }
  header nav ul{
    gap: 15px;
  }
  header nav ul li {
    font-size: 15px;
    color: var(--Black);
  }
  .top {
    display: grid;
    grid-template-columns: 1fr;
  }
  .top .image {
    height: 250px;
  }
  .image img,
  .image {
    height: 100%;
  }
  .top .content {
    padding: 2em 0;
    margin: 5em 2em;
    width: 90%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .about{
    margin: 4em auto;
  }
  .content h1,
  .about h2 {
    font-size: 3em;
  }

  .content p,
  .about p {
    font-size: 16px;
    line-height: 35px;
  }
  .content button {
    margin-top: 2em;
    font-size: 1.6em;
    gap: 20px;
    letter-spacing: 12px;
  }
  .direction {
    position: absolute;
    top: -50px;
    left: auto;
    right: -12px;
    width: 120px;
    height: 60px;
  }
  .bottom {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-rows: 1fr 1.5fr 1fr;
  }
  .bottom img{
    width: 100%;
    height: 100%;
  }
}
